-e .
bokeh==3.3.4
ipywidgets==8.1.2
mkdocs==1.5.3
mkdocs-bibtex==2.12.0
mkdocs-jupyter==0.24.6
mkdocs-material==9.5.11
mkdocstrings==0.24.0
mkdocstrings-python==1.8.0
notebook==7.1.1
numba==0.59.0
numpy==1.26.4
pandas==2.2.1
pre-commit==3.6.2
pytest==8.0.2
ruff==0.2.2
scipy==1.12.0
tqdm==4.66.2
umap-learn==0.5.5
